<div id="left-column">
  <div id="brand" class="facet">
    <ais-panel header="MARKA">
      <ais-refinement-list attribute="Brand" operator="or" limit="10" autoHideContainer=true showMoreLimit=20>
      </ais-refinement-list>
    </ais-panel>
  </div>
  <div id="gearbox" class="facet">
    <ais-panel header="VİTES">
      <ais-refinement-list attribute="Transmission" operator="or" limit="5" autoHideContainer=true showMoreLimit=10>
      </ais-refinement-list>
    </ais-panel>
  </div>
  <div id="fuel" class="facet">
    <ais-panel header="YAKIT">
      <ais-refinement-list attribute="Fuel" operator="or" limit="5" autoHideContainer=true showMoreLimit=10>
      </ais-refinement-list>
    </ais-panel>
  </div>
</div>